Options +FollowSymlinks
RewriteEngine On

#---- frontend ----#
RewriteCond %{REQUEST_URI} ^/(assets|css)  
RewriteRule ^assets/(.*)$ /frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ /frontend/web/css/$1 [L]
RewriteRule ^fonts/(.*)$ /frontend/web/fonts/$1 [L]
RewriteRule ^img/(.*)$ /frontend/web/img/$1 [L]
RewriteRule ^js/(.*)$ /frontend/web/js/$1 [L] 
RewriteRule ^lib/(.*)$ /frontend/web/lib/$1 [L]
RewriteRule ^images/(.*)$ /frontend/web/images/$1 [L]
RewriteRule ^scss/(.*)$ /frontend/web/scss/$1 [L]
RewriteRule ^vendors/(.*)$ /frontend/web/vendors/$1 [L]
RewriteRule ^crudasset/(.*)$ /frontend/web/crudasset/$1 [L]
RewriteRule ^bootstrap/(.*)$ /frontend/web/bootstrap/$1 [L]
RewriteRule ^lib/(.*)$ /frontend/web/lib/$1 [L]

RewriteCond %{REQUEST_URI} !^/frontend/web/(|css|vendors|less|js|img|assets|assetstemplate|upload|fonts|fonts|images)/  
RewriteCond %{REQUEST_URI} ^/(frontend)  
RewriteRule ^.*$ frontend/web/index.php [L]
#---- end of frontend ----#

#---- all ----#
RewriteCond %{REQUEST_URI} !^/(frontend)/web/(assets|css|fonts|img|js|lib|images|scss|bootstrap)/  
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php